@charset 'utf-8';
/* designer by Howe */

/* Global Style 
---------------------------------*/
* {
	margin: 0;
	padding: 0;
}

body{
	background: whiteSmoke repeat fixed;
	/*url(http://subtlepatterns.com/patterns/fabric_plaid.png)*/
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Verdana,"Microsoft Yahei",Tahoma,"Hiragino Sans GB",STHeiti !important;
}

a {
	text-decoration: none;
	outline: none;
	color: #000;
	font: 9px "Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
}

img {
	text-decoration: none;
	border: none;
	border-radius: 3px;
}

.box {
	background: #fff repeat fixed;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

/* container
-------------------------------------*/
#container {
	position: relative;
	margin: 0px auto 100px;
	width:768px;
}

#header {
	border-radius: 0px 0px 4px 3px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.15);
}

#header p {
	text-align: center;
	font: bold 18px 'Bilbo',cursive,Georgia,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#header p:nth-last-child(1) {
	padding-bottom:5px;
}

#header p a{
	font: bold 48px 'Fredericka the Great','Mr De Haviland',cursive,Georgia,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* divider */

#divider {
	margin-top: 30px;
}

#card_left {
	width: 377px;

}


#color_bar td{
	height: 4px;
	width: 1px;
}

#color_bar td:nth-child(1) {
	background: #E16B8C repeat fixed;
	border-radius:3px 0px 0px 0px;
}

#color_bar td:nth-child(2) {
	background: #66BAB7 repeat fixed;
}

#color_bar td:nth-child(3) {
	background: #E8B647 repeat fixed;
}

#color_bar td:nth-child(4) {
	background: #B481BB repeat fixed;
}

#color_bar td:nth-child(5) {
	background: #81C7D4 repeat fixed;
}

#color_bar td:nth-child(6) {
	background: #D9CD90 repeat fixed;
	border-radius:0px 3px 0px 0px;
}

.xi4oh4o {
	padding: 6px;
	border-bottom: 1px solid #E2E2E2;
	height: 68px;
}

.username {
	color: #778087;
}

.hitokoto {
	color: #999999;
	font-size: 12px;
}

#about_me {
	padding:8px;
	font-size: 12px;
}

#card_right {
	float:right;
	width: 377px;
	height: 227px;
}

.tap {
	background: url(../images/tap.png) no-repeat;
	width: 101px;
	height: 28px;
	position: absolute;
	right: 180px;
	top: 123px;
}

#office_since td{
	text-align: center;
}

#office_since td img {
	margin-left: 26px;
	margin-top: 18px;
	border: #FFF 6px solid;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.20);
}

.old_times {
	padding-top:23px;
	font-size: 11px;
}

#Links {
	margin-top: 13px;

}

#Links h4 {
	font: italic 18px 'Fredericka the Great','Mr De Haviland',cursive,Georgia,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
	border-bottom: 1px solid #E2E2E2;
	padding: 6px;
}

#Links li{
	list-style-type: none;
	padding-left: 8px;
}



/* Mobile ver. 
--------------------------------*/
@media screen and (max-width:480px) {
	#header {
		width: 260px;
		box-shadow: 1px 1px 40px 1px #000;
	}

	#header p {
		font: bold 18px 'Bilbo',cursive,Georgia,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

	#header p:nth-last-child(1) {
	padding-bottom:5px;
}

#header p a{
	font: bold 38px 'Fredericka the Great','Mr De Haviland',cursive,Georgia,"Microsoft Yahei",Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
	text-align:center;
}
}